:root {
	--grid-size: 10%;
	--neo-blue: #3061f5;
	--ocean-blue: #262b74;
	--dark-blue: #14173d;
	--neo-red: #ff6e6c;
}

html,
body {
	margin: 0;
}

/* GENERAL */

*.hide {
	display: none !important;
}

.container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#main-game-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

/* Pages */

div.page {
	flex-basis: 100%;
}

/* START PAGE */

#start-game-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: var(--neo-blue);
}

#title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: auto 0;
	width: 88%;
	height: 280px;
	transform: rotate(-15deg);
	background: var(--ocean-blue);
	border: 10px solid var(--dark-blue);
	border-radius: 100px;
	box-shadow: 10px 15px var(--dark-blue);
}

#game-title {
	position: relative;
	top: 15px;
	font-family: "Modak", Arial, Helvetica, sans-serif;
	color: white;
	font-weight: 500;
	font-size: 13rem;
	cursor: default;
}

/* Cannonballs */
.cannonball-1,
.cannonball-2 {
	position: absolute;
	background-image: url("./cannonball.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 600px;
	height: 600px;
	z-index: 999;
}

.cannonball-1 {
	transform: rotate(50deg);
	top: -120px;
	left: -120px;
}

.cannonball-2 {
	transform: rotate(-130deg);
	bottom: -100px;
	right: -80px;
}

.btn-bg {
	background: white;
	width: 300px;
	height: 60px;
	bottom: 90px;
	position: relative;
	border-radius: 20px;
}

#start-game-btn {
	position: relative;
	top: -4px;
	right: 4px;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	border: 4px solid white;
	background: var(--ocean-blue);
	color: white;
	font-family: "Inter", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	cursor: pointer;
	transition: all 150ms ease;
}

#start-game-btn:hover {
	top: -10px;
	right: 10px;
	transition: all 150ms ease;
}

/* START PLACING SHIPS PAGE */

#start-placing-page {
	background: var(--neo-blue);
	padding: 25px;
}

#start-placing-bg {
	background: white;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	border: 3px solid black;
	box-shadow: 3px 3px black;
}

/* PHASE TITLE */

/* GAMEBOARD */

#gameboard {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	gap: 50px;
}

#player-gameboard,
#opponent-gameboard {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--grid-size), 1fr));
	width: 600px;
	height: 600px;
}

#player-gameboard.hide,
#opponent-gameboard.hide {
	display: none;
}

#player-gameboard.blocked,
#opponent-gameboard.blocked {
	pointer-events: none;
}

/* CELL */

.board-cell {
	background-color: rgb(123, 120, 216);
	border: 1px solid rgb(57, 53, 117);
	box-sizing: border-box;
}

.board-cell.miss {
	background-color: rgb(141, 141, 141);
}

.board-cell.ship {
	background-color: rgb(50, 47, 107);
}

.board-cell.hit {
	background-color: rgb(226, 30, 30);
}

.board-cell.destroyed {
	background: #3d1503;
	border: 1px solid rgb(228, 70, 70);
}
