:root {
	--grid-size: 10%;
	--ocean-blue: #262b74;
	--dark-blue: #14173d;
	--neo-blue: #3061f5;
	--neo-red: #f06c5b;
	--neo-green: #42ca91;
}

html,
body {
	margin: 0;
	overflow: hidden;
}

/* GENERAL */

*.hide {
	display: none !important;
}

.container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#main-game-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

/* Pages */

div.page {
	flex-basis: 100%;
	overflow: hidden;
}

/* START PAGE */

#start-game-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--neo-blue);
}

#title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: auto 0;
	width: 90%;
	height: 40%;
	transform: rotate(-15deg);
	background: var(--ocean-blue);
	border: 7px solid var(--dark-blue);
	border-radius: 80px;
	box-shadow: 9px 12px var(--dark-blue);
}

#game-title {
	position: relative;
	top: 15px;
	font-family: "Modak", Arial, Helvetica, sans-serif;
	color: white;
	font-weight: 500;
	font-size: clamp(4rem, 15vw, 12rem);
	cursor: default;
}

/* Cannonballs */
.cannonball-1,
.cannonball-2 {
	position: absolute;
	background-image: url("./assets/cannonball.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 40vw;
	height: 40vw;
	z-index: 999;
}

.cannonball-1 {
	transform: rotate(50deg);
	top: -120px;
	left: -120px;
}

.cannonball-2 {
	transform: rotate(-130deg);
	bottom: -100px;
	right: -80px;
}

.start-game-btns-container {
	position: relative;
	display: flex;
	gap: 15px;
	bottom: 50px;
}

.start-game-btn {
	position: relative;
	right: 0px;
	bottom: 0px;
	padding: 10px 15px;
	border-radius: 10px;
	border: 2px solid white;
	background: var(--ocean-blue);
	color: white;
	font-family: "Inter", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	cursor: pointer;
	box-shadow: 3px 3px white;
	transition: all 150ms ease;
}

#start-game-vs-computer-btn {
	background-color: #df5b49;
}

.start-game-btn:hover {
	bottom: 3px;
	right: 3px;
	box-shadow: 6px 6px white;
	transition: all 150ms ease;
}

/* SHIPS */

.decorative-ship-1,
.decorative-ship-2 {
	position: absolute;
	z-index: 999;
	width: 300px;
	height: 100px;
	background: var(--ocean-blue);
	border-radius: 15px 40% 40% 15px;
	border: 5px solid var(--dark-blue);
	box-shadow: -8px 8px var(--dark-blue);
}

.decorative-ship-1 {
	width: 200px;
	height: 80px;
	top: 20px;
	right: 300px;
	background: var(--neo-red);
	transform: rotate(-8deg);
}
.decorative-ship-2 {
	width: 200px;
	height: 80px;
	bottom: 60px;
	left: 200px;
	background: var(--neo-blue);
	transform: rotate(-23deg);
}

/* START PLACING SHIPS PAGE */

#start-placing-page {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 1;
	background: var(--dark-blue);
	padding: 15px;
}

#start-placing-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: left;
	width: 100%;
	height: 100%;
	padding: 50px;
	box-sizing: border-box;
	border-radius: 25px;
	background: var(--neo-blue);
	box-shadow: 7px 7px black;
	border: 4px solid black;
}

h2#start-placing-title {
	width: 60%;
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-size: 7vw;
	font-weight: 800;
	color: white;
	line-height: 1.2;
	text-align: left;
	margin: 0;
	margin-bottom: 50px;
	z-index: 999;
	cursor: default;
}

#start-placing-btn {
	position: relative;
	bottom: 0px;
	right: 0px;
	width: 250px;
	border: 3px solid black;
	border-radius: 15px;
	background-color: var(--neo-blue);
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: white;
	padding: 7px 10px;
	box-shadow: 4px 4px black;
	cursor: pointer;
	transition: all 200ms ease;
}

#start-placing-btn:hover {
	bottom: 3px;
	right: 3px;
	box-shadow: 7px 7px black;
	transition: all 200ms ease;
}

/* DECORATIVE SHIP - START PLACING PAGE */

#decorative-place-ship {
	position: absolute;
	background-image: url(./assets/ships.svg);
	background-size: cover;
	width: clamp(3rem, 60vw + 15rem, 1000px);
	height: clamp(3rem, 60vw + 15rem, 1000px);
	background-repeat: no-repeat;
	background-position: center;
	bottom: -280px;
	right: -80px;
	user-select: none;
}

/* SET COORDINATES */

#set-coordinates-page {
	display: flex;
	flex: 1 1 auto;
	background: var(--neo-blue);
}

#current-board-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--neo-blue);
	padding: 50px;
}

#current-placing-gameboard {
	width: 600px;
	height: 600px;
}

.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 5px;
	width: 30%;
}

.sidebar-title {
	position: absolute;
	display: flex;
	align-self: center;
	align-items: center;
	margin: 0;
	padding: 10px 20px;
	z-index: 999;
	border-radius: 50px;
	border: 3px solid black;
	background: white;
	color: var(--ocean-blue);
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-size: 2vw;
	font-weight: 900;
	box-shadow: 4px 4px black;
}

.sidebar-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	box-sizing: border-box;
	top: 28px;
	width: 100%;
	border: 3px solid black;
	background: white;
	border-radius: 15px;
}

#placement-rules {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-top: 20px;
	padding: 10px 20px;
	box-sizing: border-box;
	border-bottom: 3px solid black;
	font-family: "Inter", Arial, Helvetica, sans-serif;
}

#placement-rules h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 25px 0px 10px 0px;
	font-size: 1.6vw;
	font-weight: 700;
}

#placement-rules ol {
	flex: 1;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	list-style: none;
	padding: 0;
	gap: 15px;
}

#placement-rules ol li {
	font-size: 1.1vw;
	width: 60%;
	padding: 15px;
	border: 3px solid black;
	border-radius: 15px;
	box-shadow: 4px 4px black;
}

#placement-rules ol li:nth-child(1) {
	background: var(--neo-red);
	color: white;
}

#placement-rules ol li:nth-child(2) {
	background: var(--neo-blue);
	color: white;
	align-self: end;
}

#placement-rules ol li:nth-child(3) {
	background: var(--neo-green);
	color: white;
	position: relative;
	left: 25px;
}

#ship-length {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 40px;
	margin: 5px 0px 0px 0px;
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-size: 1.5vw;
	font-weight: 700;
}

#coordinates-input-container {
	display: flex;
	justify-content: center;
	gap: 10px;
	box-sizing: border-box;
	padding: 15px;
	height: 80px;
	margin: 0px 0px 15px 0px;
}

#coord-input {
	width: 100%;
	padding: 10px 15px;
	border: 3px solid black;
	border-radius: 15px;
	box-shadow: 2px 2px black;
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1rem;
	outline: 0px;
}

.placement-btn {
	position: relative;
	bottom: 0px;
	right: 0px;
	border: 3px solid black;
	border-radius: 15px;
	background-color: var(--neo-blue);
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color: white;
	padding: 0px 5px;
	box-shadow: 2px 2px black;
	cursor: pointer;
	transition: all 200ms ease;
}

.placement-btn:hover {
	bottom: 3px;
	right: 3px;
	box-shadow: 4px 4px black;
	transition: all 200ms ease;
}

/* NEXT TURN - PASS DEVICE PAGE  */

#pass-device-page {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 1;
	background: var(--ocean-blue);
	padding: 15px;
}

#pass-device-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: left;
	width: 100%;
	height: 100%;
	padding: 50px;
	box-sizing: border-box;
	border-radius: 25px;
	background: white;
	box-shadow: 7px 7px black;
	border: 4px solid black;
}

#pass-device-title {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-size: 9vw;
	font-weight: 800;
	color: var(--neo-blue);
	line-height: 1.2;
	text-align: left;
	margin: 0;
	margin-bottom: 50px;
	z-index: 999;
	cursor: default;
}

#pass-btn {
	position: relative;
	bottom: 0px;
	right: 0px;
	width: 200px;
	border: 3px solid black;
	border-radius: 15px;
	background-color: var(--neo-blue);
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: white;
	padding: 10px 25px;
	box-shadow: 4px 4px black;
	cursor: pointer;
	transition: all 200ms ease;
}

#pass-btn:hover {
	bottom: 3px;
	right: 3px;
	box-shadow: 7px 7px black;
	transition: all 200ms ease;
}

/* STAR */

.star {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.star-1 {
	background-image: url(./assets/star-blue.svg);
	bottom: -250px;
	right: -500px;
}
.star-2 {
	background-image: url(./assets/star-red.svg);
	right: -250px;
	bottom: -140px;
	z-index: 1;
}

.star-3 {
	background-image: url(./assets/star-green.svg);
	right: 50px;
	bottom: -300px;
}

/* BATTLE PAGE */

#battle-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	background: var(--neo-blue);
}

#gameboard {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 100%;
	gap: 30px;
}

#gameboard > div {
	display: flex;
	flex-direction: column;
	height: 550px;
	width: 500px;
}

#gameboard > div > h2 {
	margin: 10px 0px;
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: white;
}

#attack-title {
	align-self: flex-start;
	width: 98%;
	box-sizing: border-box;
	display: none;
}

#battle-sidebar {
	width: 40%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	margin: 5px;
}

.battle-sidebar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 5px 0px;
	border-radius: 20px;
}

.battle-sidebar-container ol {
	display: flex;
	padding: 0px;
	gap: 20px;
}

.battle-sidebar-container ol li {
	display: flex;
	gap: 15px;
	align-items: center;
}

.battle-sidebar-container ol li p {
	display: flex;
	margin: 0px 0px -4px 0px;
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-blue);
}

.cell-example {
	width: 35px;
	height: 35px;
	background: white;
	box-shadow: 3px 3px black;
	border: 2px solid black;
	border-radius: 10px;
}

.cell-example.miss {
	display: flex;
	justify-content: center;
	align-items: center;
	background: gray;
}

.cell-example.hit {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--neo-red);
}

.cell-example.hit::before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: -1.5rem;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	transform: rotate(45deg);
}

.cell-example.hit::after {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	transform: rotate(225deg);
}

.cell-example.destroyed {
	background-image: url(./assets/explosion.svg);
	background-position: center;
	background-size: cover;
	background-color: transparent;
	border: none;
	box-shadow: none;
}

/* GAMEBOARDS */

#player-gameboard,
#opponent-gameboard {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	height: 100%;
	width: 100%;
}

#player-gameboard.hide,
#opponent-gameboard.hide {
	display: none;
}

#player-gameboard.blocked,
#opponent-gameboard.blocked {
	pointer-events: none;
	opacity: 50%;
}

/* CELL */

.board-cell {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	box-shadow: 3px 3px black;
	border: 2px solid black;
	border-radius: 10px;
	box-sizing: border-box;
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: var(--ocean-blue);
	font-weight: 600;
	cursor: pointer;
	transition: scale 100ms ease;
}

.board-cell:not(.board-cell.hit):not(.board-cell.miss):hover {
	transition: scale 100ms ease;
	scale: 1.05;
}

.board-cell.miss {
	background: gray;
}

.board-cell.ship {
	background-color: rgb(50, 47, 107);
}

.board-cell.hit {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--neo-red);
	animation: destroy 200ms ease;
}

*.asdf {
	background-color: red !important;
}

@keyframes destroy {
	0% {
		scale: 1;
	}
	50% {
		scale: 2;
	}
	0% {
		scale: 1;
	}
}

.board-cell.hit::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: -2.57rem;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	transform: rotate(45deg);
}

.board-cell.hit::after {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	transform: rotate(225deg);
}

.board-cell.destroyed {
	background-color: var(--neo-red);
}

.board-cell.hit.destroyed {
	background-image: url(./assets/explosion.svg);
	background-position: center;
	background-size: cover;
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.board-cell.destroyed::after,
.board-cell.destroyed::before {
	display: none;
}

/* WINNER PAGE */

#winner-page {
	background: var(--ocean-blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#winner-title {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 7rem;
	color: white;
	margin: 0;
}

.winner-options-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.winner-options-container > button {
	position: relative;
	bottom: 0px;
	right: 0px;
	width: 200px;
	border: 3px solid black;
	border-radius: 15px;
	background-color: var(--neo-blue);
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: white;
	padding: 5px 0px;
	box-shadow: 4px 4px black;
	cursor: pointer;
	transition: all 200ms ease;
}

.winner-options-container > button:hover {
	bottom: 3px;
	right: 3px;
	box-shadow: 7px 7px black;
	transition: all 200ms ease;
}

#restart-game-btn {
	background: var(--neo-red);
}

#return-home-btn {
	background: var(--neo-blue);
}
